DataSturcture/.gitignore
DataSturcture/DataSturcture.iml
DataSturcture/.idea/.gitignore
DataSturcture/.idea/misc.xml
DataSturcture/.idea/modules.xml
DataSturcture/.idea/vcs.xml
DataSturcture/src/NumberSequence.java
untitled/.idea/vcs.xml
untitled/.idea/workspace.xml
